
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
  font-family: outfit;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
  scrollbar-width: none;
}

.custom-gray {
  color: #5A5A5A;
}

 
.bg-orange {
  background-color: #ff4d00 !important;
}
